//colors
$primary_hue_blue_1: #2290fe;
$lightBlue: #0066cc;
$primary_dark_1: #3a4168;
$primary_dark_2: #878ba2;
$primary_dark_3: #c0c3ce;
$primary_dark_4: #f4f6f9;
$status_red: #ea5b63;
$background: #e5e5e5;
$status_yellow: #f1bc32;
$status_green: #10b890;
$white: #ffffff;
$black: #000000;
$box_border: #e7ecf2;
$disable_button: #c0c3ce;
$list_active: #1592eb2a;
$navbar_name: #3a4168;
$light_blue: #deeeff;
$navy_blue: #001242;
$vibrant_yellow: #fbf3e0;
